Model accuracy assessment

In [2]:
from pathlib import Path
import sys

root = Path.joinpath(Path.cwd().resolve().parent)
print(root)
sys.path.append(str(root))

from Services.Test import TestModels, ModelMetricsMeasurement
display(TestModels())

C:\Users\johnc\WebProjects\PokemonMlWebApp\PythonServices

,Hp,Attack,Defense,SpecialAttack,SpecialDefense,Speed,PrimaryType,KnnPrediction,LogPrediction,TreePrediction
0,40,60,30,31,31,70,normal,normal,normal,normal
1,75,80,85,110,90,50,grass,grass,grass,grass
2,38,41,40,50,65,65,fire,poison,bug,poison
3,10,55,25,35,45,95,ground,normal,normal,normal
4,35,55,40,50,50,90,electric,normal,normal,normal
5,59,63,80,65,80,58,water,grass,water,poison
6,61,72,57,55,55,65,poison,normal,poison,bug
7,46,57,40,40,40,50,poison,poison,bug,normal
8,115,45,20,45,25,20,normal,bug,normal,bug
9,50,75,85,20,30,40,ground,bug,poison,bug

In [4]:
import pandas as pd
ModelEval = ModelMetricsMeasurement()

for model in ModelEval:
    
    print(f"{model["modelName"]} Confusion Matrix: ")
    display(pd.DataFrame(model["confusionMetrics"]))
    print("--- Metrics Evaluation ---")
    print(f"Accuracy Score: {model["accuracyScore"]}")
    print(f"Precision Score: {model["precisionScore"]}")
    print(f"Recall Score: {model["recallScore"]}")
    print(f"F1 Score: {model["f1Score"]}\n")

KNN Confusion Matrix:

   0  1  2  3  4  5  6  7
0  0  0  0  0  0  0  0  0
1  0  0  0  0  0  1  0  0
2  0  0  0  0  0  0  1  0
3  0  0  0  1  0  0  0  0
4  1  0  0  0  0  1  0  0
5  1  0  0  0  0  1  0  0
6  0  0  0  0  0  1  1  0
7  0  0  0  1  0  0  0  0

--- Metrics Evaluation ---
Accuracy Score: 0.3
Precision Score: 0.2
Recall Score: 0.3
F1 Score: 0.2333333333333333

Logistic Regression Confusion Matrix:

   0  1  2  3  4  5  6  7
0  0  0  0  0  0  0  0  0
1  0  0  0  0  0  1  0  0
2  1  0  0  0  0  0  0  0
3  0  0  0  1  0  0  0  0
4  0  0  0  0  0  1  1  0
5  0  0  0  0  0  2  0  0
6  1  0  0  0  0  0  1  0
7  0  0  0  0  0  0  0  1

--- Metrics Evaluation ---
Accuracy Score: 0.5
Precision Score: 0.4
Recall Score: 0.5
F1 Score: 0.4333333333333333

Tree Confusion Matrix:

   0  1  2  3  4  5  6  7
0  0  0  0  0  0  0  0  0
1  0  0  0  0  0  1  0  0
2  0  0  0  0  0  0  1  0
3  0  0  0  1  0  0  0  0
4  1  0  0  0  0  1  0  0
5  1  0  0  0  0  1  0  0
6  1  0  0  0  0  1  0  0
7  0  0  0  0  0  0  1  0

--- Metrics Evaluation ---
Accuracy Score: 0.2
Precision Score: 0.15
Recall Score: 0.2
F1 Score: 0.16666666666666666